.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
}

.searchWrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  align-items: center;
  text-align: center;
}

.title {
}

.searchInputContainer {
  width: 360px;
  height: 60px;
  margin: 16px;
  background-color: var(--color-white);
  border-radius: 32px;
  display: flex;
  justify-content: center;
}

.searchInutWrapper {
  width: 360px;
  // height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchInput {
  border: none;
  outline: none;
}

.sarchButton {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 4px;
  font-weight: 400;
}

.suggestDiseaseListContainer {
  text-align: left;
  width: 360px;
  border-radius: 10px;

  overflow: hidden;
  padding: 16px;
  background-color: var(--color-white);
}

.suggestDiseaseList {
  overflow-y: scroll;
  max-height: 200px;
}
